<section>
    <div class="bg-logo">
        <div class="logo-container">
            <img src="../../../assets/images/logo.svg">
        </div>
    </div>
    <div class="login">
        <p class="title-size bold">Préstamos y pagos</p>
        <p class="subtitle-size light-bold">Ingresa como:</p>
        <button id="btn-admin" class="btn-login" (click)="openLogin('admin')">Administrador</button>
        <button id="btn-director" class="btn-login" (click)="openLogin('director')">Director</button>
    </div>
</section>